@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Chakra+Petch&family=Montserrat&family=Noto+Sans+Multani&family=Open+Sans:wght@300;400&family=Press+Start+2P&family=Raleway:wght@300&family=Rubik&family=Rubik+Iso&family=Sedgwick+Ave+Display&family=VT323&display=swap');


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5eef5;
    font-family: 'Noto Sans Multani', sans-serif;
    color: #5e6176;
}


/* ---------- */
/*   HEADER   */
/* ---------- */

header {
    height: 50px;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin: 5px;
}

.header-content {
    display: grid;
    grid-template-columns: 80px auto 400px;
    /* width: 70%; */
}

.header-content img {
    filter: invert(0%) sepia(0%) saturate(11%) hue-rotate(30deg) brightness(25%) contrast(30%);
    height: 40px;
    margin: 0;
    justify-self: center;
    align-self: center;
}


.header-content div {
    display: grid;
    height: 50px;
}

.header-content div:nth-of-type(2) {
    display: flex;
}
.header-content div:nth-of-type(3) {
    display: flex;
}

.header-content input {
    height: 30px;
    width: 500px;
    margin: 10px;
    padding: 0 10px;
    border-radius: 5px;
}

.header-content button {
    padding: 0 5px;
    margin: 0 10px 10px;
    border-radius: 30px;
}

/* ---------- */
/* NAVIGATION */
/* ---------- */

nav {
    display: grid;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50vw;
    margin: 0 auto;
    padding: 10px;
}

nav ul li {
    justify-self: center;
    list-style-type: none;
    cursor: pointer;
}

ul li a {
    color: #5e6176;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

ul li:hover a {
    color: #4baaf4;
}

/* --------------------------- */
/* DISPLAY CARDS WITH GRID CSS */
/* --------------------------- */

.container {
    display: grid;
    grid-gap: 30px;
    /* grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center; */
    width: 70%;
    margin: 20px auto ;
}

article {
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: #fff;
    max-height: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px #888888;
}

img {
    height: 50px;
    margin: 30px auto 5px;
}

h2 {
    align-self: center;
    text-align: center;
    margin: 5px 50px;
    font-size: 1rem;
}

p {
    text-align: center;
    margin: 5px 30px 30px;
    font-size: .8rem;
}

/* .line {
    display: block;
    align-self: center;
    width: 100px;
    height: 1px;
    margin: 10px auto;
    background-color: #e9eced;
    opacity: 1; 
    transition: opacity 0.3s; 
} */

button {
    width: 150px;
    margin: 10px auto 30px;
    background-color: #fff;
    color: #5e6176;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}


button:hover {
    background-color: #4baaf4;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
}

button::before {
    content: '';
    position: absolute;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: #e9eced;
}

button:hover::before {
    height: 0; 
}


article:has(> button:hover) {
    box-shadow: 5px 5px 10px 5px #a6a6a6;
}







/* MEDIA QUERIES */

@media screen and (min-width: 390px) {
    .container {
        width: 65%;
    }
    article {
        max-height: 350px;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 55%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        width: 70%;
    }
    article {
        max-height: 400px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 60%;
    }
    article {
        max-height: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 95%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1500px) {
    .container {
        width: 70%;
    }
    article {
        max-height: 350px;
    }
}
